* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffffff; 
    height: 100vh;
}

.word {
 color: red;

}